<%include partial/head.ejs %>
<%include partial/header.ejs %>
<body>
	<div class="article">
		<div class="blog">
			<header class="blog-header">
				<div class="container-fluid">
					<time class="pull-right">Thursday,December 22nd,2016</time>
					<h3>题目</h3>
					<aside>
						<div class="nav-box">
							<ul class="nav sidenav">
								<li>
									<a href="" class="item">左侧导航</a>
								</li>
								<li>
									<a href="" class="item">左侧导航</a>
								</li>
								<li>
									<a href="" class="item">左侧导航</a>
								</li>
								<li>
									<a href="" class="item">左侧导航</a>
								</li>
							</ul>
						</div>
					</aside>
					<p class="tag-list">
						<a href="" class="tags">tag</a>
						<a href="" class="tags">tag</a>
						<a href="" class="tags">tag</a>
					</p>
				</div>
			</header>
			<div class="container-fluid">
				<div class="content">
					<article class="md">
						内容区域
					</article>
				</div>
			</div>
		</div>
	</div>
<%include partial/foot.ejs %>